$color-black: #000000;
$color-white: #FFFFFF;
$color-red: #E85440;
$color-blue: #4394F0;
$color-blue-light: #F0F4FA;
$color-gray: #697077;
$color-gray10: #F2F4F8;
$color-gray20: #DDE1E6;
$color-gray50: #878D96;
$color-gray70: #4D5358;
$color-gray80: #343A3F;
$color-bg: #F8F8F8;

.complete {
    .complete-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        .complete-header {
            padding: 0px 24px;
            margin-top: 64px;
            margin-bottom: 32px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        .complete-infomation {
            padding: 0px 24px;
            margin-bottom: 36px;
            &.blue {
                ul{
                    background-color: $color-blue-light;
                }
            }
            &:last-child{
                margin-bottom: 0px;
            }
            ul {
                background-color: $color-bg;
                border-radius: 8px;
                li {
                    .complete-infomation-item {
                        padding: 16px;
                        display: flex;
                        justify-content: space-between;
                        div {
                            flex: 1;
                            &:last-child {
                                text-align: right;
                            }
                            &:first-child {
                                text-align: left !important;
                            }                      
                        }
                    }
                    
                }
            }
        }
    }
}
