$color-black: #000000;
$color-white: #FFFFFF;
$color-red: #E85440;
$color-blue: #4394F0;
$color-blue-light: #F0F4FA;
$color-gray: #697077;
$color-gray10: #F2F4F8;
$color-gray20: #DDE1E6;
$color-gray50: #878D96;
$color-gray60: #697077;
$color-gray70: #4D5358;
$color-gray80: #343A3F;
$color-bg: #F8F8F8;
