@import "../../styles/color";

.customBtnWrapper {
    .customBtn {
        width: 100%;
        height: 100%;
        padding: 16px 85px;
        background-color: $color-blue;
        color: $color-white;
        border-radius: 8px;
    }
}

.disabled {
    .customBtn {
        background-color: $color-gray20;
    }    
}